/****** PLACE YOUR CUSTOM STYLES HERE ******/
.bg-image-adjust-right {
    background-position: 90% 50% !important;
}

.bg-image-adjust-left {
    background-position: 10% 50% !important;
}

.bg-image-adjust-top-left {
    background-position: 10% 10% !important;
}

.nav-bar {
    height: 75px;
    max-height: 75px;
    line-height: 73px;
    border-bottom: 1px solid #ccc;
}

.logo {
    max-height: 90%;
    max-width: none;
}

input[type="email"],
input[type="phone"],
input[type="number"],
input[type="date"] {
    border: none;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
}

input[type="email"]:focus,
input[type="phone"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
    outline: 1px solid #ccc;
}

.wardsVisible, .infoVisible {
    display: block;
    width: auto;
    height: auto;
    opacity: 1;
    transition: display width height 1s ease-in-out 1s;
}

.wardsHidden, .infoHidden {
    display: none;
    opacity: 0;
    transition: display opacity 1s linear 0.5s;
}

.submit-type-btn {
    height: 50px;
    line-height: 48px;
    border: 2px solid #f9ad19;
    background: #f9ad19;
    color: #fff;
    width: auto;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0 !important;
    padding-left: 1em;
    padding-right: 1em;
}